body {
    font-family: "Roboto", sans-serif;
}

.sketchpad {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    --tools-width: 80px;
    --outliner-width: 250px;
    --header-height: 65px;

    .main {
        position: absolute;
        top: var(--header-height);
        height: calc(100% - var(--header-height));
        left: var(--tools-width);
        right: var(--outliner-width);
        overflow: hidden;

        svg {
            position: absolute;
            outline: none;
            width: 100%;
            height: calc(100% - 4px);
            .tool {
                &.ne {
                    cursor: ne-resize;
                }
                &.nw {
                    cursor: nw-resize;
                }
                &.ns {
                    cursor: ns-resize;
                }
                &.ew {
                    cursor: ew-resize;
                }

                &.rotate {
                    cursor: move;
                }
            }
            .item {
                &.selected {
                    cursor: move;
                }
            }
        }

        .paper,
        .grid {
            position: absolute;
        }
    }

    .left-menu {
        position: absolute;
        top: var(--header-height);
        right: 0;
        width: calc(var(--outliner-width) - 1px);
        height: calc(100% - var(--header-height));
        border-left: solid 1px #eee;
    }
}
