header {
    position: absolute;
    width: 100%;
    &.MuiAppBar-colorPrimary {
        background-color: #1976d2;
    }
    height: var(--header-height);
}

.settings-dialog {
    label {
        width: 120px;
    }

    .value {
        margin-left: 20px;
    }
    .dialog-content {
        width: 240px;

        span.MuiTypography-body1 {
            width: 220px;
        }
    }
}
