.outliner {
    overflow-y: auto;
    outline: none;

    .makeStyles-root-7 {
        max-width: 210px;
        height: 100%;
    }

    .makeStyles-labelText-16,
    .MuiTypography-body2 {
        user-select: none;
    }

    .makeStyles-root-10 {
        max-width: 240px;
    }

    .item {
        background-color: #f8f8f8;
        padding: 0 10px;
        border: solid 1px #eee;
        &.selected {
            background-color: #ddf;
        }

        cursor: pointer;
        user-select: none;
    }

    .hover {
        background-color: #666;
        width: 100%;
        height: 3px;
    }
}
