.outliner {
    overflow-y: auto;

    .item {
        background-color: #f8f8f8;
        padding: 0 10px;
        border: solid 1px #eee;
        &.selected {
            background-color: #ddf;
        }

        cursor: pointer;
        user-select: none;
    }
}
