.property-box {
    padding-bottom: 10px;
    .makeStyles-root-1 {
        width: 116px;
    }
    .MuiFormControlLabel-labelPlacementStart {
        margin-left: 6px;
    }
    .MuiFormControlLabel-label {
        width: 70px;
    }
    .MuiTextField-root {
        width: 116px;
    }
    .MuiInputBase-input {
        text-align: right;
    }
}
