.property-box {
    padding-bottom: 10px;
    padding-top: 20px;
    min-height: 300px;
    box-sizing: border-box;

    width: 100%;
    height: 50%;
    top: 0;
    border-bottom: solid 1px #ddd;
    overflow-y: auto;

    .color {
        .MuiTextField-root {
            width: 90px;
        }
    }

    .MuiTextField-root {
        width: 130px;
    }

    .MuiFormControlLabel-labelPlacementStart {
        margin-left: 6px;
    }
    .MuiFormControlLabel-label {
        width: 100px;
    }
    .MuiInputBase-input {
        text-align: right;
    }

    .empty {
        text-align: center;
        margin: 50px 0px;
    }
}
